body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img{
    image-rendering: pixelated;
}

.Screen{
    image-rendering: pixelated;
    overflow: hidden;
    margin: 0 auto;
    transform: scale(2);
    transform-origin: top center;
    position: relative;
}
.Character{
    position: absolute;
}